<div class="post-content">
  <div class="ui grid">


    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/group/<%= group.gid %>"><%= group.gname %></a></h3>
        <pre><%- group.gdescription %></pre>
        <div>


        </div>
      </div>
    </div>
  </div>
</div>
