<div class="post-content">
  <div class="ui grid">


    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/recipe/<%= recipe.rid %>"><%= recipe.rtitle %></a></h3>
        <pre><%- recipe.rdescription %></pre>
        <div>
          <span class="tag"><%= recipe.posttime %></span>
          <span class="tag right">


          </span>
        </div>
      </div>
    </div>
  </div>
</div>
