<%- include('header') %>

<div class="ui grid">

  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label>Group Name</label>
        <input type="text" name="gname">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="gdescription" rows="15"></textarea>
      </div>
      <input type="submit" class="ui button" value="submit">
    </div>
  </form>
</div>

<%- include('footer') %>
