<%- include('header') %>

<div class="ui grid">

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/post">
      <div class="field required">
        <label>Title</label>
        <input type="text" name="title">
      </div>
      <div class="field required">
        <label>Description</label>
        <textarea name="description" rows="15"></textarea>
      </div>
      <div class="field required">
        <label>Servings</label>
        <input type="text" name="servings">
      </div>
      <input type="submit" class="ui button" value="submit">
    </div>
  </form>
</div>

<%- include('footer') %>
