<%- include('header') %>

<div class="ui grid">

  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label>Tag</label>
        <input type="text" name="tag">
      </div>
      <input type="submit" class="ui button" value="submit">
    </div>
  </form>
</div>

<%- include('footer') %>
